.App {
  text-align: center;
  max-height: 100vh;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  min-height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* font-size: calc(1px + 2vmin); */
  color: white;
}

h1 {
  margin: auto;
}

.App-body {
  height: 80vh;
}

.Chart {
  height: 50vh
}

/*
.App-Info {
  position: absolute;
  grid-row: 6/6;
  background-color: azure;

}

.App-Info-Show {
  position: relative;
  grid-row: 3 / 6;
  background-color: azure;
  overflow: scroll;
  max-height: 80%;
}

.App-map {
  position: absolute;
  grid-row: 1/6;
  margin:.5%; 
}

.App-map-collapsed {
  position: absolute;
  grid-row: 3/6;
  margin:.5%;
  min-height: 20%;
  
} */
