.InfoDisplay {
    height: 80vh

}

#App-Map{
    height:80vh;
}

.App-Map-Collapsed {
    height: 20vh;
}

#App-Info {
    height: 0;
    overflow: scroll;
    
}

.App-Info-Show {
    height: 60vh;
    overflow: scroll;
}