.tideInfo-box {
    width: 100%;
}

table, thead, tbody, td, th {
    border: 1px solid black;

}

#chart {
    align-self: center;
    width: 95%;
    margin: 0%;
    padding: 2%
}


#table {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2vh
}